/*Variables*/
/*Animaciones*/
@keyframes svgAnimation1 {
  0% {
    d: path("M7.5,21H2V9h5.5V21z");
  }

  50% {
    d: path("M7.5,21H2V7h5.5V21z");
  }

  100% {
    d: path("M7.5,21H2V9h5.5V21z");
  }
}

@keyframes svgAnimation2 {
  0% {
    d: path("M14.75,3h-5.5v18h5.5V3z");
  }

  50% {
    d: path("M14.75,11h-5.5v10h5.5V6z");
  }

  100% {
    d: path("M14.75,3h-5.5v18h5.5V3z");
  }
}

@keyframes svgAnimation3 {
  0% {
    d: path("M22,11h-5.5v10H22V11z");
  }

  50% {
    d: path("M22,3h-5.5v18H22V9z");
  }

  100% {
    d: path("M22,11h-5.5v10H22V11z");
  }
}

/*Nav*/
#svg1 {
  animation: svgAnimation1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#svg2 {
  animation: svgAnimation2;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

#svg3 {
  animation: svgAnimation3;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

h1 {
  color: #FFFDFA;
  font-weight: 500;
  font-size: 30px;
  margin-top: 2px;
  margin-bottom: 0%;
}

.navbar {
  height: 75px;
  background-color: #0b0f91;
  color: #FFFDFA;
}

.navbar ul li {
  padding: 15px 20px;
}

.nav__link {
  position: relative;
  color: #FFFDFA;
  font-size: larger;
}

.nav__link:after {
  position: absolute;
  content: '';
  height: 2px;
  bottom: -4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 0%;
  background: #FFFDFA;
  -o-transition: .25s;
  -ms-transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s;
  transition: .25s;
}

.nav__link:hover:after {
  width: 70%;
}

.nav__link:focus:after {
  width: 70%;
}

.link--actual:after {
  position: absolute;
  content: '';
  height: 2px;
  bottom: -4px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 70%;
  background: #FFFDFA;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: none;
}

/*Header*/
header {
  position: relative;
  grid-area: header;
}

.carousel--bg {
  position: relative;
  width: 100%;
  height: calc(100vh - 75px);
  background-image: url("/assets/images/header.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(45%);
  -webkit-filter: brightness(45%);
  -moz-filter: brightness(45%);
}

.carousel {
  position: absolute;
  top: 0px;
  left: 0%;
  width: 100%;
  height: calc(100vh - 190px);
  z-index: 9;
  display: flex;
  flex-direction: inherit;
  justify-content: space-around;
  align-items: center;
  mix-blend-mode: screen;
}

.carousel-control-next,
.carousel-control-prev {
  opacity: 0.9;
}

.carousel-control-prev button,
.carousel-control-next button {
  background: none;
  border: none;
  opacity: 0.5;
}

.carousel-control-next button:focus,
.carousel-control-next button:hover,
.carousel-control-prev button:focus,
.carousel-control-prev button:hover {
  opacity: 0.9;
}

.carousel__title {
  color: #FFFDFA;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 0px;
  text-align: center;
}

.carousel__text {
  color: #FFFDFA;
  font-size: x-large;
  margin: 25px 40px;
  text-align: center;
}

.carousel__link {
  cursor: pointer;
  font-size: larger;
  background: none;
  padding: 10px 20px;
  border: #FFFDFA solid 2px;
  margin-top: 10px;
  border-radius: 10px;
  mix-blend-mode: screen;
  background-color: #FFFDFA;
  color: black;
  font-weight: 900 !important;
  mix-blend-mode: screen;
  transition: 0.25s;
}

.carousel__link:hover {
  background-color: transparent;
  color: #FFFDFA;
  font-weight: 400 !important;
}

.btn__arrow {
  transition-duration: 0.25s;
}

.btn__arrow:focus,
.btn__arrow:hover {
  transform: scale(0.9, 0.9);
}

header .div__instrument {
  height: calc(100vh - 75px);
}

/*Main*/
main {
  grid-area: main;
}

.container__styled {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container__styled:before {
  content: "";
  background-size: contain;
  position: absolute;
  width: 100%;
  left: 0;
  top: -130px;
  z-index: 999;
}

.container__styled::after {
  content: "";
  background-size: contain;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -170px;
  z-index: 999;
}

.container__styled--alt {
  position: relative;
}

.container__styled--alt:before {
  content: "";
  background-size: contain;
  position: absolute;
  width: 100%;
  left: 0;
  top: -130px;
  z-index: 999;
}

@media screen and (min-width: 1024px) {
  .container__styled {
    padding: 5px 0px;
  }

  .container__styled:nth-child(n+2) {
    height: calc(100vh - 140px);
  }

  .container__styled:before {
    background-image: url(../assets/images/top.svg);
    background-position: bottom;
    background-size: auto;
    background-repeat: no-repeat;
    height: 140px;
  }

  .container__styled::after {
    background-image: url(../assets/images/bottom.svg);
    background-position: bottom;
    background-size: auto;
    background-repeat: no-repeat;
    height: 140px;
  }

  .container__styled--alt {
    padding-top: 5px;
  }

  .container__styled--alt:before {
    background-image: url(../assets/images/top.svg);
    background-position: bottom;
    background-size: auto;
    background-repeat: no-repeat;
    height: 140px;
  }
}

h3 {
  text-align: center;
  font-size: xx-large;
}

.card,
.card--alt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFDFA;
  width: 350px;
  height: 350px;
  border-radius: 20px;
  margin: 0px 20px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

.card img,
.card--alt img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card .placeholder-wave,
.card--alt .placeholder-wave {
  width: 100%;
  margin: 0%;
  padding: 0px 15px;
}

.card__title {
  text-align: center;
  font-size: x-large;
  margin: 15px 0px;
}

.div__carousel .card .placeholder-wave,
.div__carousel .card--alt .placeholder-wave {
  width: 100%;
  margin: 0%;
  padding: 0px 15px 15px;
}

.card__button {
  cursor: pointer;
  padding: 10px 15px;
  color: #FFFDFA;
  border: #0b0f91 2px solid;
  background-color: #0b0f91;
  margin: auto;
  font-weight: 600;
  font-size: medium;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}

.card__button:hover {
  background-color: #1016d8;
  border: #1016d8 2px solid;
}

.div__instrument {
  position: relative;
  width: 100%;
  height: calc(100vh + 140px);
}

.div__instrument:last-child {
  height: calc(100vh - 75px);
}

.bg__stocks,
.bg__bonds,
.bg__etf,
.bg__options {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(45%);
  -webkit-filter: brightness(45%);
  -moz-filter: brightness(45%);
}

/*Aplicando un mapa*/
.bg__stocks {
  background-image: url("/assets/images/acciones.jpg");
}

.bg__bonds {
  background-image: url("/assets/images/bonos.jpg");
}

.bg__etf {
  background-image: url("/assets/images/fci.jpg");
}

.bg__options {
  background-image: url("/assets/images/derivados.jpg");
}

.div__content {
  position: absolute;
  top: 0px;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: flex;
  flex-direction: inherit;
  justify-content: space-around;
  align-items: center;
  mix-blend-mode: screen;
}

.div__content div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
}

.div__content img {
  cursor: pointer;
}

.div__title {
  color: #FFFDFA;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 0px;
}

.div__text {
  color: #FFFDFA;
  font-size: x-large;
  margin: 25px;
  padding: 0% 75px;
}

.div__link {
  cursor: pointer;
  font-size: larger;
  background: none;
  padding: 10px 20px;
  border: #FFFDFA solid 2px;
  border-radius: 10px;
  margin-top: 10px;
  mix-blend-mode: screen;
  background-color: #FFFDFA;
  color: black;
  font-weight: 900 !important;
  mix-blend-mode: screen;
  transition: 0.25s;
}

.div__link:hover {
  background-color: transparent;
  color: #FFFDFA;
  font-weight: 400 !important;
}

.div__title--alt {
  text-align: center;
  font-size: xx-large;
}

.div__carousel {
  display: flex;
  flex-direction: inherit;
  justify-content: space-around;
  align-items: center;
  padding-left: 125px;
  padding-right: 125px;
}

.div__carousel img {
  cursor: pointer;
}

.card--alt {
  width: 315px;
  height: auto;
  padding: 20px 20px 25px;
}

.card--alt .card__title {
  margin-top: 15px;
}

.card--alt .card__text {
  margin: 5px 0px 20px;
  padding: 5px;
}

.title {
  margin-bottom: 20px;
}

h4 {
  font-size: larger;
}

.div__paragraph p {
  font-size: large;
}

.p--bottom {
  position: static;
}

.btn__top {
  position: sticky;
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  width: 50px;
  height: 50px;
  padding: 10px;
  margin-left: calc(100vw - 80px);
  margin-bottom: 20px;
  border: #0b0f91 3px solid;
  border-radius: 15px;
}

.btn__top img {
  width: 50px;
  height: 50px;
}

/*Footer*/
footer .container-fluid {
  display: flex;
  flex-direction: inherit;
  justify-content: space-between;
  align-items: center;
  margin: 0%;
  background: #FFFDFA;
  grid-area: footer;
}

footer p {
  font-size: large;
  font-weight: 500;
}

footer nav ul {
  list-style: none;
  display: flex;
  flex-direction: inherit;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
}

footer nav ul li {
  margin-left: 30px;
  margin-top: 4px;
}

footer nav ul li:last-child {
  margin-right: 20px;
}

/*General*/
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: normal;
}

body {
  background: #eee;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "navbar"
    "header"
    "main"
    "footer";
}

a {
  text-decoration: none;
}

a:hover {
  color: #FFFDFA;
}

@media (min-width: 577px) and (max-width: 991px) {
  .nav__logo {
    margin-left: 0px;
  }

  .navbar {
    height: auto;
    padding: 10px;
  }

  .navbar ul {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
  }

  .navbar ul li {
    padding: 15px 0px;
  }

  h1 {
    margin-left: 5px;
    padding: 10px 0px;
  }

  .navbar-toggler {
    padding-right: 0px;
  }

  footer {
    padding: 0px 10px 0px;
  }

  footer nav ul {
    padding: 0%;
  }

  footer nav ul li:last-child {
    margin-right: 0px;
  }

  h1 {
    padding-left: 5px;
  }

  .menu--mobile {
    display: block;
    width: 45px;
    height: 45px;
  }

  .div__cards {
    flex-direction: column;
    align-items: center;
    padding: auto 0px;
    width: 100%;
  }

  .card--alt {
    display: none;
  }

  .principal {
    display: flex;
    height: auto;
  }
}

@media (max-width: 768px) {
  footer .container-fluid {
    flex-direction: column-reverse;
    text-align: center;
    padding: 0px 10px 5px;
    margin: 4px 15px 0px;
  }

  footer .container-fluid nav ul {
    padding: 0%;
  }

  footer .container-fluid nav ul li {
    margin: 4px 15px 0px;
  }
}

@media (max-width: 576px) {
  .navbar {
    height: auto;
    padding: 10px 0px;
  }

  .navbar ul {
    padding-top: 10px;
  }

  .navbar ul li {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .navbar .container-fluid {
    padding: 0%;
  }

  .nav__logo {
    margin-left: 0px;
  }

  .nav__logo h1 {
    padding-left: 0px;
  }

  .navbar-toggler {
    padding-right: 0px;
  }

  .carousel__title {
    font-size: 45px;
  }

  .carousel__text {
    width: 60%;
    padding: 20px 0%;
    margin: auto;
  }

  .carousel-control-next,
  .carousel-control-prev {
    width: 20%;
  }

  .div__text {
    text-align: center;
    padding: 20px 0%;
  }

  .div__title--alt {
    margin-top: 150px;
  }

  .title {
    margin: 0%;
    text-align: center;
    font-size: 35px;
  }

  .div__cards {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .card,
  .card--alt {
    height: auto;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }

  .card img,
  .card--alt img {
    height: 200px;
  }

  .card__title {
    font-size: 30px;
  }

  .card__button {
    margin: 15px auto;
  }

  .card--alt {
    display: none;
  }

  .div__carousel {
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    padding-bottom: 110px;
    margin-top: 25px;
  }

  .principal {
    display: flex;
  }

  .div__paragraph {
    width: 90%;
    padding: 20px 0%;
    margin: auto;
  }

  h4 {
    font-size: 30px;
  }

  .div__paragraph p {
    font-size: 25px;
  }

  .btn__top {
    display: none;
  }

  footer .container-fluid {
    flex-direction: column-reverse;
    text-align: center;
    padding: 0px 0px 5px;
    margin: auto;
  }

  footer .container-fluid p {
    font-size: x-large;
  }

  footer .container-fluid nav ul li a {
    margin: 4px 15px 0px;
    display: flex;
    justify-content: center;
  }

  footer .container-fluid nav ul li a img {
    margin: 0%;
  }
}