/*Nav*/

$animations:(
    1:svgAnimation1,
    2:svgAnimation2,
    3:svgAnimation3
);

@each $number, $animation in $animations {
    #svg#{$number}{
        animation: $animation;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

h1 {
    color: map-get($estilos , secondaryColor);
    font-weight: 500;
    font-size: 30px;
    margin-top: 2px;
    margin-bottom: 0%;
}

.navbar {
    height: 75px;
    background-color: map-get($estilos , mainColor );
    color: map-get($estilos , secondaryColor );
    ul li { 
        padding: 15px 20px;
    }
}

.nav__link {
    position: relative;
    color: map-get($estilos , secondaryColor );
    font-size: larger;
    &:after {
        position: absolute;
        content: '';
        height: 2px;
        bottom: -4px;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 0%;
        background: map-get($estilos , secondaryColor );
    
        -o-transition: .25s;
        -ms-transition: .25s;
        -moz-transition: .25s;
        -webkit-transition: .25s;
        transition: .25s;
    }
    &:hover:after {
        width: 70%;
    }
    &:focus:after {
        width: 70%;
    }
}

.link--actual:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 70%;
    background: map-get($estilos , secondaryColor );
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    box-shadow: none;
}