/*Variables*/

$main-color: #0b0f91;
$bg-header: "/assets/images/header.jpg";
$bg-stocks: "/assets/images/acciones.jpg";
$bg-bonds: "/assets/images/bonos.jpg";
$bg-etf: "/assets/images/fci.jpg";
$bg-options: "/assets/images/derivados.jpg";