/*General*/

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: normal;
}

body {
    background: #eee;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "navbar"
        "header"
        "main"
        "footer";
}

@keyframes svgAnimation1 {
    0% {
        d: path('M7.5,21H2V9h5.5V21z')
    }

    50% {
        d: path('M7.5,21H2V7h5.5V21z')
    }

    100% {
        d: path('M7.5,21H2V9h5.5V21z')
    }
}

@keyframes svgAnimation2 {
    0% {
        d: path('M14.75,3h-5.5v18h5.5V3z')
    }

    50% {
        d: path('M14.75,11h-5.5v10h5.5V6z')
    }

    100% {
        d: path('M14.75,3h-5.5v18h5.5V3z')
    }
}

@keyframes svgAnimation3 {
    0% {
        d: path('M22,11h-5.5v10H22V11z')
    }

    50% {
        d: path('M22,3h-5.5v18H22V9z')
    }

    100% {
        d: path('M22,11h-5.5v10H22V11z')
    }
}

/*Header*/

a {
    text-decoration: none;
}

a:hover {
    color: #fff;
}

#svg1 {
    animation: svgAnimation1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#svg2 {
    animation: svgAnimation2;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#svg3 {
    animation: svgAnimation3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.nav__logo {
    display: flex;
    align-items: center;
}

h1 {
    color: #fff;
    font-weight: 500;
    font-size: 30px;
    margin-top: 2px;
    margin-bottom: 0%;
}

.navbar {
    background-color: #0b0f91;
    color: #fff;
    height: 75px;
}

.navbar ul li {
    padding: 15px 20px;
}

.nav__link {
    text-decoration: none;
    position: relative;
    color: #fff;
    font-size: larger;
}

.nav__link:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 0%;
    background: #fff;

    -o-transition: .25s;
    -ms-transition: .25s;
    -moz-transition: .25s;
    -webkit-transition: .25s;
    transition: .25s;
}

.nav__link:hover {
    color: #fff;
}

.nav__link:hover:after {
    width: 70%;
    background: #fff;
}

.link--actual:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: -4px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 70%;
    background: #fff;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    box-shadow: none;
}

header {
    position: relative;
    padding: 0%;
    margin: 0%;
    grid-area: header;
}

.carousel--bg {
    position: relative;
    width: 100%;
    height: calc(100vh - 190px);
    background-image: url("../images/header.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(45%);
    -webkit-filter: brightness(45%);
    -moz-filter: brightness(45%);
}

.carousel {
    position: absolute;
    top: 0px;
    left: 0%;
    width: 100%;
    height: calc(100vh - 190px);
    z-index: 9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    mix-blend-mode: screen;
}

.carousel__title {
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 0px;
    text-align: center;
}

.carousel__text {
    color: #fff;
    font-size: x-large;
    margin: 25px 40px;
    text-align: center;
}

.carousel__link {
    cursor: pointer;
    font-size: larger;
    background: none;
    padding: 10px 20px;
    border: #fff solid 2px;
    margin-top: 10px;
    border-radius: 10px;
    mix-blend-mode: screen;
    background-color: white;
    color: black;
    font-weight: 900 !important;
    mix-blend-mode: screen;
    transition: 0.25s;
}

.carousel__link:hover {
    background-color: transparent;
    color: #fff;
    font-weight: 400 !important;
}

.btn__arrow {
    transition-duration: 0.25s;
}

.btn__arrow:hover {
    transform: scale(0.85, 0.85);
}

header .div__instrument {
    height: calc(100vh - 190px);
}

/*Main*/

main {
    padding: 25px 0px 0px;
    grid-area: main;
}

h3 {
    text-align: center;
    font-size: xx-large;
    margin: 15px 0px 0px;
}

.div__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 850px;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 350px;
    height: 350px;
    border-radius: 20px;
    margin: 40px 20px 0px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.40);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.40);
}

.card img {
    width: 100%;
    height: 50%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card__title {
    text-align: center;
    font-size: x-large;
    margin: 15px 0px;
}

.card__text {
    margin: 0%;
    padding: 0px 20px;
}

.card__button {
    cursor: pointer;
    padding: 10px 15px;
    color: #fff;
    border: #0b0f91 2px solid;
    background-color: #0b0f91;
    margin: auto;
    font-weight: 600;
    font-size: medium;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.40);
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.40);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.40);
    transition-duration: 0.25s;
}

.card__button:hover {
    background-color: #080f5c;
    border: #080f5c 2px solid;
}

.div__instrument {
    position: relative;
    width: 100%;
    height: calc(100vh - 125px);
    margin-top: 40px;
}

.bg__stocks,
.bg__bonds,
.bg__etf,
.bg__options {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(45%);
    -webkit-filter: brightness(45%);
    -moz-filter: brightness(45%);
}

.bg__stocks {
    background-image: url("../images/acciones.jpg");
}

.bg__bonds {
    background-image: url("../images/bonos.jpg");
}

.bg__etf {
    background-image: url("../images/fci.jpg");
}

.bg__options {
    background-image: url("../images/derivados.jpg");
}

.div__content {
    position: absolute;
    top: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    mix-blend-mode: screen;
}

.div__content div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

.div__content img {
    cursor: pointer;
}

.div__title {
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 0px;
}

.div__text {
    color: #fff;
    font-size: x-large;
    margin: 25px;
    padding: 0% 75px;
}

.div__link {
    cursor: pointer;
    font-size: larger;
    background: none;
    padding: 10px 20px;
    border: #fff solid 2px;
    border-radius: 10px;
    margin-top: 10px;
    mix-blend-mode: screen;
    background-color: white;
    color: black;
    font-weight: 900 !important;
    mix-blend-mode: screen;
    transition: 0.25s;
}

.div__link:hover {
    background-color: transparent;
    color: #fff;
    font-weight: 400 !important;
}

.div__title--alt {
    margin-top: 80px;
    margin-bottom: 0px;
    text-align: center;
    font-size: xx-large;
}

.div__carousel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 125px 40px;
}

.div__carousel img {
    cursor: pointer;
}

.card--alt {
    width: 315px;
    height: auto;
    padding: 20px 20px 25px;
}

.card--alt .card__title {
    margin-top: 15px;
}

.card--alt .card__text {
    margin: 5px 0px 20px;
    padding: 5px;
}

.title {
    margin-bottom: 20px;
}

h4 {
    font-size: larger;
    margin-bottom: 10px;
}

.div__paragraph p {
    font-size: large;
}

.p--bottom {
    position: static;
}

.btn__top {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    width: 50px;
    height: 50px;
    padding: 10px;
    margin-left: calc(100vw - 80px);
    margin-bottom: 20px;
    border: #0b0f91 3px solid;
    border-radius: 15px;
}

.btn__top img {
    width: 50px;
    height: 50px;
}

/*Footer*/

footer .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0%;
    background: #fff;
    grid-area: footer;
}

footer p {
    font-size: large;
    font-weight: 500;
}

footer nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
}

footer nav ul li {
    margin-left: 30px;
    margin-top: 4px;
}

footer nav ul li:last-child {
    margin-right: 20px;
}

@media (min-width: 577px) and (max-width: 991px) {
    .nav__logo {
        margin-left: 0px;
    }

    .navbar {
        height: auto;
        padding: 10px;
    }

    h1 {
        margin-left: 5px;
        padding: 10px 0px;
    }

    .navbar ul {
        padding-top: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 5px;
    }

    .navbar ul li {
        padding: 15px 0px;
    }

    .navbar-toggler {
        padding-right: 0px;
    }

    footer {
        padding: 0px 10px 0px;
    }

    footer nav ul {
        padding: 0%;
    }

    footer nav ul li:last-child {
        margin-right: 0px;
    }

    h1 {
        padding-left: 5px;
    }

    .menu--mobile {
        display: block;
        width: 45px;
        height: 45px;
    }

    .div__cards {
        flex-direction: column;
        align-items: center;
        padding: auto 0px;
        width: 100%;
    }

    .div__carousel img {
        margin-top: 50px;
    }

    .card--alt {
        display: none;
    }

    .principal {
        display: flex;
        height: auto;
        margin-top: 50px;
    }
}

@media (max-width: 768px) {
    footer .container-fluid {
        flex-direction: column-reverse;
        text-align: center;
        padding: 0px 10px 5px;
    }

    footer .container-fluid nav ul {
        padding: 0%;
    }

    footer .container-fluid nav ul li {
        margin: 4px 15px 0px;
    }
}

@media (max-width: 576px) {
    .navbar {
        height: auto;
        padding: 10px 0px;
    }

    .nav__logo {
        margin-left: 5px;
    }

    .navbar ul {
        padding-top: 10px;
    }

    .navbar ul li {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    h1 {
        padding-left: 0px;
    }

    .navbar-toggler {
        padding-right: 0px;
    }

    .carousel__title {
        font-size: 45px;
    }

    .carousel__text,
    .div__text {
        text-align: center;
        padding: 20px 0%;
    }

    .div__title--alt {
        margin-top: 150px;
    }


    .div__cards {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .card {
        height: auto;
    }

    .card img {
        height: 200px;
    }

    .card__title {
        font-size: 30px;
    }

    .card__text {
        font-size: 20px;
    }

    .card__button {
        margin: 15px auto;
    }

    .card--alt {
        display: none;
    }

    .div__carousel {
        width: 100%;
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 110px;
        margin-top: 25px;
    }

    .principal {
        display: flex;
        height: 300px;
        margin-top: 25px;
    }

    .div__paragraph {
        width: 90%;
        padding: 20px 0%;
        margin: auto;
    }

    h3 {
        font-size: 35px;
        width: 90%;
        margin: 15px auto 20px;
    }

    h4 {
        font-size: 30px;
    }

    .div__paragraph p {
        font-size: 25px;
    }

    .btn__top {
        display: none;
    }

    footer .container-fluid {
        flex-direction: column-reverse;
        text-align: center;
        padding: 0px 10px 5px;
    }

    footer .container-fluid p {
        font-size: x-large;
    }

    footer .container-fluid nav ul li {
        margin: 4px 15px 0px;
    }
}